In [1]:
import os
import json
import torch
import torch.optim as optim
import transformers

/home/ksuser/miniconda3/envs/resdsql/lib/python3.8/site-packages/tqdm/auto.py:22: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [2]:
from torch.utils.tensorboard import SummaryWriter
from torch.utils.data import DataLoader
from transformers import T5TokenizerFast, T5ForConditionalGeneration, MT5ForConditionalGeneration
from transformers.optimization import Adafactor
from transformers.trainer_utils import set_seed
from utils.spider_metric.evaluator import EvaluateTool
from utils.load_dataset import Text2SQLDataset
from utils.text2sql_decoding_utils import decode_sqls, decode_natsqls

In [3]:
batch_size = 16

In [4]:
model = T5ForConditionalGeneration.from_pretrained('models/text2natsql-t5-large/checkpoint-21216/')
if torch.cuda.is_available():
    model = model.cuda()

In [5]:
tokenizer = T5TokenizerFast.from_pretrained('models/text2natsql-t5-large/checkpoint-21216')

In [8]:
import sqlite3
conn = sqlite3.Connection('inference_db/test.db')
# conn = sqlite3.Connection('database/concert_singer/concert_singer.sqlite')

cursor = conn.cursor()

cursor.execute("SELECT name,sql FROM sqlite_master WHERE type='table'")
tables = cursor.fetchall()
print(tables[0][1])

CREATE TABLE Employees (
    EmployeeID INT PRIMARY KEY,
    Name VARCHAR(100),
    JobTitle VARCHAR(100),
    DepartmentID INT,
    Salary DECIMAL(10, 2),
    FOREIGN KEY (DepartmentID) REFERENCES Departments(DepartmentID)
)

In [9]:
print(tables[0][1])

CREATE TABLE Employees (
    EmployeeID INT PRIMARY KEY,
    Name VARCHAR(100),
    JobTitle VARCHAR(100),
    DepartmentID INT,
    Salary DECIMAL(10, 2),
    FOREIGN KEY (DepartmentID) REFERENCES Departments(DepartmentID)
)

In [10]:
sql_input = ''

In [11]:
for table in tables:
    table_name = table[0]
    sql_input += f'| {table_name} : '
    cursor.execute("PRAGMA table_info({})".format(table_name))
    columns = cursor.fetchall()
    for column in columns:
        # print(column)
    
        sql_input += f"{table_name}.{column[1]}, "
    sql_input += f"{table_name}.* "

In [12]:
sql_input

'| Employees : Employees.EmployeeID, Employees.Name, Employees.JobTitle, Employees.DepartmentID, Employees.Salary, Employees.* | Departments : Departments.DepartmentID, Departments.Name, Departments.ManagerID, Departments.* | Projects : Projects.ProjectID, Projects.Name, Projects.DepartmentID, Projects.StartDate, Projects.EndDate, Projects.* | Tasks : Tasks.TaskID, Tasks.Description, Tasks.ProjectID, Tasks.AssigneeID, Tasks.* '

In [83]:
nlp_input = "Retrieve all employees names and their departments names"
inputs = nlp_input + sql_input

In [84]:
tokenized_inputs = tokenizer(
            inputs, 
            return_tensors="pt",
            padding = "max_length",
            max_length = 512,
            truncation = True
        )

In [85]:
encoder_input_ids = tokenized_inputs["input_ids"]
encoder_input_attention_mask = tokenized_inputs["attention_mask"]
if torch.cuda.is_available():
        encoder_input_ids = encoder_input_ids.cuda()
        encoder_input_attention_mask = encoder_input_attention_mask.cuda()

In [86]:
num_beams = 8
num_return_sequences = 8

In [87]:
with torch.no_grad():
    model_outputs = model.generate(
        input_ids = encoder_input_ids,
        attention_mask = encoder_input_attention_mask,
        max_length = 256,
        decoder_start_token_id = model.config.decoder_start_token_id,
        num_beams = 2,
        num_return_sequences = 1
    )

In [88]:
torch.cuda.empty_cache()

In [89]:
model_outputs.shape

torch.Size([1, 22])

In [90]:
model_outputs[0,0]

tensor(0, device='cuda:0')

In [91]:
model_outputs

tensor([[    0,  1738,     3,   834,    45,     3,   834,  1820,  1738, 15871,
             7,     5, 23954,     6,  1775,     7,     5, 23954,    45, 15871,
             7,     1]], device='cuda:0')

In [92]:
model_outputs

tensor([[    0,  1738,     3,   834,    45,     3,   834,  1820,  1738, 15871,
             7,     5, 23954,     6,  1775,     7,     5, 23954,    45, 15871,
             7,     1]], device='cuda:0')

In [98]:
model_outputs = model_outputs.view(len(1), opt.num_return_sequences, model_outputs.shape[1])

TypeError: object of type 'int' has no len()

In [93]:
pred_sequence = tokenizer.decode(model_outputs[0], skip_special_tokens = True)

In [94]:
pred_sequence

'select _ from _ | select Employees.Name, Departments.Name from Employees'

In [95]:
pred_sql = pred_sequence.split("|")[-1].strip()
pred_sql

'select Employees.Name, Departments.Name from Employees'

In [97]:
# cursor.execute('select Employees.Name from Employees where Employees.Salary > 70000')
cursor.execute('''SELECT e.Name AS EmployeeName, e.JobTitle, d.Name AS DepartmentName
FROM Employees e
INNER JOIN Departments d ON e.DepartmentID = d.DepartmentID;
''')
cursor.fetchall()

[('John Doe', 'Software Engineer', 'Engineering'),
 ('Jane Smith', 'Data Analyst', 'Data Science'),
 ('Michael Johnson', 'Project Manager', 'Project Management'),
 ('Emily Brown', 'HR Specialist', 'Human Resources'),
 ('David Wilson', 'Marketing Manager', 'Marketing')]

In [ ]:
tables = json.load(open('NatSQL/NatSQLv1_6/tables_for_natsql.json','r'))
table_dict = dict()
for t in tables:
    table_dict[t["db_id"]] = t

OperationalError: near ",": syntax error

In [183]:
table_dict

{'perpetrator': {'column_names': [[0, '*'],
   [0, 'id'],
   [0, 'people id'],
   [0, 'date'],
   [0, 'year'],
   [0, 'location'],
   [0, 'country'],
   [0, 'killed'],
   [0, 'injured'],
   [1, '*'],
   [1, 'id'],
   [1, 'name'],
   [1, 'height'],
   [1, 'weight'],
   [1, 'home town']],
  'column_names_original': [[0, '*'],
   [0, 'Perpetrator_ID'],
   [0, 'People_ID'],
   [0, 'Date'],
   [0, 'Year'],
   [0, 'Location'],
   [0, 'Country'],
   [0, 'Killed'],
   [0, 'Injured'],
   [1, '*'],
   [1, 'People_ID'],
   [1, 'Name'],
   [1, 'Height'],
   [1, 'Weight'],
   [1, 'Home Town']],
  'column_types': ['others',
   'number',
   'number',
   'text',
   'year',
   'text',
   'text',
   'number',
   'number',
   'others',
   'number',
   'text',
   'number',
   'number',
   'text'],
  'db_id': 'perpetrator',
  'foreign_keys': [[2, 10]],
  'primary_keys': [1, 10],
  'table_names': ['perpetrator', 'people'],
  'table_names_original': ['perpetrator', 'people'],
  'original_primary_keys': [1, 10],
  'unique_fk': [2],
  'data_samples': [[],
   [1, 2, 3, 4, 5],
   [1, 3, 4, 6, 8],
   ['04.00 April',
    '04.26 April 26/27',
    '05.21 May 21',
    '09.20 Sep. 20',
    '11.18 Nov. 18'],
   [1938.0, 1950.0, 1982.0, 1994.0, 1995.0],
   ['Beijing', 'Kaio', 'Nainital', 'Uiryeong', 'Zhaodong'],
   ['China', 'India', 'Japan', 'South Korea'],
   [22, 23, 30, 32, 56],
   [0, 3, 16, 37, 80],
   [],
   [1, 2, 3, 4, 5],
   ['Brent Boyd',
    'Gary Goodner',
    'Henry Johnson',
    'Jim Krivacs',
    'John Danks'],
   [6.1, 6.3, 6.4, 6.5, 6.6],
   [160.0, 170.0, 185.0, 190.0, 200.0],
   []],
  'column_types_checked': ['None',
   'number',
   'number',
   'text',
   'year',
   'text',
   'text',
   'number',
   'number',
   'None',
   'number',
   'text',
   'number',
   'number',
   'None'],
  'same_col_idxs': [[], [], [9], [], [], [], [], [], [], [2], [], [], [], []],
  'link_back': [[0, 0],
   [1, 1],
   [2, 2],
   [3, 3],
   [4, 4],
   [5, 5],
   [6, 6],
   [7, 7],
   [8, 8],
   [9, 0],
   [10, 9],
   [11, 10],
   [12, 11],
   [13, 12],
   [14, 13]],
  'table_column_names_original': [[0, 'perpetrator.*'],
   [0, 'perpetrator.Perpetrator_ID'],
   [0, 'perpetrator.People_ID'],
   [0, 'perpetrator.Date'],
   [0, 'perpetrator.Year'],
   [0, 'perpetrator.Location'],
   [0, 'perpetrator.Country'],
   [0, 'perpetrator.Killed'],
   [0, 'perpetrator.Injured'],
   [1, 'people.*'],
   [1, 'people.People_ID'],
   [1, 'people.Name'],
   [1, 'people.Height'],
   [1, 'people.Weight'],
   [1, 'people.Home Town']],
  'index_range': [[0, 8], [9, 14]],
  'network': [[[], [0]], [[], [1]], [[[2, 10]], [0, 1]]],
  'tc_fast': ['perpetrator.*',
   'perpetrator.perpetrator_id',
   'perpetrator.people_id',
   'perpetrator.date',
   'perpetrator.year',
   'perpetrator.location',
   'perpetrator.country',
   'perpetrator.killed',
   'perpetrator.injured',
   'people.*',
   'people.people_id',
   'people.name',
   'people.height',
   'people.weight',
   'people.home town'],
  'table_orig_low': ['perpetrator', 'people'],
  'bridge_table': [],
  'many2many': {}},
 'college_2': {'column_names': [[0, '*'],
   [0, 'building'],
   [0, 'room number'],
   [0, 'capacity'],
   [1, '*'],
   [1, 'name'],
   [1, 'building'],
   [1, 'budget'],
   [2, '*'],
   [2, 'id'],
   [2, 'title'],
   [2, 'department name'],
   [2, 'credits'],
   [3, '*'],
   [3, 'id'],
   [3, 'name'],
   [3, 'department name'],
   [3, 'salary'],
   [4, '*'],
   [4, 'course id'],
   [4, 'id'],
   [4, 'semester'],
   [4, 'year'],
   [4, 'building'],
   [4, 'room number'],
   [4, 'time slot id'],
   [5, '*'],
   [5, 'id'],
   [5, 'course id'],
   [5, 'section id'],
   [5, 'semester'],
   [5, 'year'],
   [6, '*'],
   [6, 'id'],
   [6, 'name'],
   [6, 'department name'],
   [6, 'total credits'],
   [7, '*'],
   [7, 'id'],
   [7, 'course id'],
   [7, 'section id'],
   [7, 'semester'],
   [7, 'year'],
   [7, 'grade'],
   [8, '*'],
   [8, 'student id'],
   [8, 'instructor id'],
   [9, '*'],
   [9, 'id'],
   [9, 'day'],
   [9, 'start hour'],
   [9, 'start minute'],
   [9, 'end hour'],
   [9, 'end minute'],
   [10, '*'],
   [10, 'course id'],
   [10, 'id']],
  'column_names_original': [[0, '*'],
   [0, 'building'],
   [0, 'room_number'],
   [0, 'capacity'],
   [1, '*'],
   [1, 'dept_name'],
   [1, 'building'],
   [1, 'budget'],
   [2, '*'],
   [2, 'course_id'],
   [2, 'title'],
   [2, 'dept_name'],
   [2, 'credits'],
   [3, '*'],
   [3, 'ID'],
   [3, 'name'],
   [3, 'dept_name'],
   [3, 'salary'],
   [4, '*'],
   [4, 'course_id'],
   [4, 'sec_id'],
   [4, 'semester'],
   [4, 'year'],
   [4, 'building'],
   [4, 'room_number'],
   [4, 'time_slot_id'],
   [5, '*'],
   [5, 'ID'],
   [5, 'course_id'],
   [5, 'sec_id'],
   [5, 'semester'],
   [5, 'year'],
   [6, '*'],
   [6, 'ID'],
   [6, 'name'],
   [6, 'dept_name'],
   [6, 'tot_cred'],
   [7, '*'],
   [7, 'ID'],
   [7, 'course_id'],
   [7, 'sec_id'],
   [7, 'semester'],
   [7, 'year'],
   [7, 'grade'],
   [8, '*'],
   [8, 's_ID'],
   [8, 'i_ID'],
   [9, '*'],
   [9, 'time_slot_id'],
   [9, 'day'],
   [9, 'start_hr'],
   [9, 'start_min'],
   [9, 'end_hr'],
   [9, 'end_min'],
   [10, '*'],
   [10, 'course_id'],
   [10, 'prereq_id']],
  'column_types': ['others',
   'text',
   'number',
   'number',
   'others',
   'text',
   'text',
   'number',
   'others',
   'number',
   'text',
   'text',
   'number',
   'others',
   'number',
   'text',
   'text',
   'number',
   'others',
   'number',
   'number',
   'text',
   'year',
   'text',
   'number',
   'text',
   'others',
   'number',
   'number',
   'number',
   'text',
   'year',
   'others',
   'number',
   'text',
   'text',
   'number',
   'others',
   'number',
   'number',
   'number',
   'text',
   'year',
   'text',
   'others',
   'number',
   'number',
   'others',
   'text',
   'text',
   'number',
   'number',
   'number',
   'number',
   'others',
   'number',
   'number'],
  'db_id': 'college_2',
  'foreign_keys': [[11, 5],
   [16, 5],
   [23, 1],
   [24, 2],
   [19, 9],
   [27, 14],
   [28, 19],
   [29, 20],
   [30, 21],
   [31, 22],
   [35, 5],
   [38, 33],
   [39, 19],
   [40, 20],
   [41, 21],
   [42, 22],
   [45, 33],
   [46, 14],
   [56, 9],
   [55, 9],
   [28, 9],
   [39, 9]],
  'primary_keys': [5, 9, 14, 33, 45],
  'table_names': ['classroom',
   'department',
   'course',
   'instructor',
   'section',
   'teaches',
   'student',
   'takes classes',
   'advisor',
   'time slot',
   'prerequisite'],
  'table_names_original': ['classroom',
   'department',
   'course',
   'instructor',
   'section',
   'teaches',
   'student',
   'takes',
   'advisor',
   'time_slot',
   'prereq'],
  'original_primary_keys': [1, 5, 9, 14, 19, 27, 33, 38, 45, 48, 55],
  'unique_fk': [],
  'data_samples': [[],
   ['Alumni', 'Bronfman', 'Chandler', 'Drown', 'Fairchild'],
   ['105', '113', '119', '134', '143'],
   [10, 11, 12, 15, 18],
   [],
   ['Accounting', 'Astronomy', 'Athletics', 'Biology', 'Civil Eng.'],
   ['Brodhead', 'Bronfman', 'Candlestick', 'Chandler', 'Lambeau'],
   [106378.69, 210627.58, 255041.46, 276527.61, 395051.74],
   [],
   ['101', '105', '123', '127', '130'],
   ['Accounting',
    'Aerodynamics',
    'African History',
    'Animal Behavior',
    'Antidisestablishmentarianism in Modern America'],
   ['Accounting', 'Astronomy', 'Athletics', 'Biology', 'Civil Eng.'],
   [3, 4],
   [],
   ['14365', '15347', '16807', '19368', '22591'],
   ['Arias', 'Arinb', 'Atanassov', 'Bancilhon', 'Bawa'],
   ['Accounting', 'Astronomy', 'Athletics', 'Biology', 'Comp. Sci.'],
   [32241.56, 32570.5, 34272.67, 35023.18, 43770.36],
   [],
   ['105', '137', '158', '169', '192'],
   ['1', '2', '3'],
   ['Fall', 'Spring'],
   [2001, 2002, 2003, 2004, 2005],
   ['Alumni', 'Bronfman', 'Chandler', 'Drown', 'Fairchild'],
   ['105', '113', '119', '134', '143'],
   ['A', 'B', 'C', 'D', 'E'],
   [],
   ['14365', '15347', '19368', '22591', '25946'],
   ['105', '137', '158', '169', '192'],
   ['1', '2', '3'],
   ['Fall', 'Spring'],
   [2001, 2002, 2003, 2004, 2005],
   [],
   ['1000', '10033', '10076', '1018', '10204'],
   ['Aarde', 'Abdellatif', 'Abdul-Rahman', 'Abeggl', 'Abraham'],
   ['Accounting', 'Astronomy', 'Athletics', 'Biology', 'Civil Eng.'],
   [0, 1, 2, 3, 4],
   [],
   ['1000', '10033', '10076', '1018', '10204'],
   ['105', '137', '158', '169', '192'],
   ['1', '2', '3'],
   ['Fall', 'Spring'],
   [2001, 2002, 2003, 2004, 2005],
   ['A ', 'A+', 'A-', 'B ', 'B+'],
   [],
   ['1000', '10033', '10076', '1018', '10204'],
   ['14365', '15347', '16807', '19368', '22591'],
   [],
   ['A', 'B', 'C', 'D', 'E'],
   ['F', 'M', 'R', 'T', 'W'],
   [8, 9, 10, 11, 13],
   [0, 30],
   [8, 9, 11, 12, 13],
   [30, 45, 50],
   [],
   ['133', '158', '169', '209', '224'],
   ['101', '123', '130', '133', '137']],
  'column_types_checked': ['None',
   'text',
   'number',
   'number',
   'None',
   'text',
   'text',
   'number',
   'None',
   'number',
   'text',
   'text',
   'number',
   'None',
   'number',
   'text',
   'text',
   'number',
   'None',
   'number',
   'number',
   'text',
   'year',
   'text',
   'number',
   'text',
   'None',
   'number',
   'number',
   'number',
   'text',
   'year',
   'None',
   'number',
   'text',
   'text',
   'number',
   'None',
   'number',
   'number',
   'number',
   'text',
   'year',
   'text',
   'None',
   'number',
   'number',
   'None',
   'text',
   'text',
   'number',
   'number',
   'number',
   'number',
   'None',
   'number',
   'number'],
  'same_col_idxs': [[],
   [],
   [],
   [],
   [9, 13, 29],
   [],
   [],
   [15, 23, 32, 45],
   [],
   [4, 13, 29],
   [],
   [],
   [],
   [4, 9, 29],
   [],
   [7, 23, 32],
   [24, 33],
   [],
   [],
   [],
   [],
   [39],
   [],
   [7, 15, 32],
   [16, 33],
   [],
   [],
   [],
   [],
   [4, 9, 13],
   [],
   [],
   [7, 15, 23],
   [16, 24],
   [],
   [],
   [],
   [],
   [],
   [21],
   [],
   [],
   [],
   [],
   [],
   [7],
   []],
  'link_back': [[0, 0],
   [1, 1],
   [2, 2],
   [3, 3],
   [4, 0],
   [5, 4],
   [6, 5],
   [7, 6],
   [8, 0],
   [9, 7],
   [10, 8],
   [11, 9],
   [12, 10],
   [13, 0],
   [14, 11],
   [15, 12],
   [16, 13],
   [17, 14],
   [18, 0],
   [19, 15],
   [20, 16],
   [21, 17],
   [22, 18],
   [23, 19],
   [24, 20],
   [25, 21],
   [26, 0],
   [27, 22],
   [28, 23],
   [29, 24],
   [30, 25],
   [31, 26],
   [32, 0],
   [33, 27],
   [34, 28],
   [35, 29],
   [36, 30],
   [37, 0],
   [38, 31],
   [39, 32],
   [40, 33],
   [41, 34],
   [42, 35],
   [43, 36],
   [44, 0],
   [45, 37],
   [46, 38],
   [47, 0],
   [48, 39],
   [49, 40],
   [50, 41],
   [51, 42],
   [52, 43],
   [53, 44],
   [54, 0],
   [55, 45],
   [56, 46]],
  'table_column_names_original': [[0, 'classroom.*'],
   [0, 'classroom.building'],
   [0, 'classroom.room_number'],
   [0, 'classroom.capacity'],
   [1, 'department.*'],
   [1, 'department.dept_name'],
   [1, 'department.building'],
   [1, 'department.budget'],
   [2, 'course.*'],
   [2, 'course.course_id'],
   [2, 'course.title'],
   [2, 'course.dept_name'],
   [2, 'course.credits'],
   [3, 'instructor.*'],
   [3, 'instructor.ID'],
   [3, 'instructor.name'],
   [3, 'instructor.dept_name'],
   [3, 'instructor.salary'],
   [4, 'section.*'],
   [4, 'section.course_id'],
   [4, 'section.sec_id'],
   [4, 'section.semester'],
   [4, 'section.year'],
   [4, 'section.building'],
   [4, 'section.room_number'],
   [4, 'section.time_slot_id'],
   [5, 'teaches.*'],
   [5, 'teaches.ID'],
   [5, 'teaches.course_id'],
   [5, 'teaches.sec_id'],
   [5, 'teaches.semester'],
   [5, 'teaches.year'],
   [6, 'student.*'],
   [6, 'student.ID'],
   [6, 'student.name'],
   [6, 'student.dept_name'],
   [6, 'student.tot_cred'],
   [7, 'takes.*'],
   [7, 'takes.ID'],
   [7, 'takes.course_id'],
   [7, 'takes.sec_id'],
   [7, 'takes.semester'],
   [7, 'takes.year'],
   [7, 'takes.grade'],
   [8, 'advisor.*'],
   [8, 'advisor.s_ID'],
   [8, 'advisor.i_ID'],
   [9, 'time_slot.*'],
   [9, 'time_slot.time_slot_id'],
   [9, 'time_slot.day'],
   [9, 'time_slot.start_hr'],
   [9, 'time_slot.start_min'],
   [9, 'time_slot.end_hr'],
   [9, 'time_slot.end_min'],
   [10, 'prereq.*'],
   [10, 'prereq.course_id'],
   [10, 'prereq.prereq_id']],
  'index_range': [[0, 3],
   [4, 7],
   [8, 12],
   [13, 17],
   [18, 25],
   [26, 31],
   [32, 36],
   [37, 43],
   [44, 46],
   [47, 53],
   [54, 56]],
  'network': [[[], [0]],
   [[], [1]],
   [[], [2]],
   [[], [3]],
   [[], [4]],
   [[], [5]],
   [[], [6]],
   [[], [7]],
   [[], [8]],
   [[], [9]],
   [[], [10]],
   [[[11, 5]], [2, 1]],
   [[[16, 5]], [3, 1]],
   [[[23, 1]], [4, 0]],
   [[[19, 9]], [4, 2]],
   [[[27, 14]], [5, 3]],
   [[[28, 19]], [5, 4]],
   [[[28, 9]], [5, 2]],
   [[[35, 5]], [6, 1]],
   [[[38, 33]], [7, 6]],
   [[[39, 19]], [7, 4]],
   [[[39, 9]], [7, 2]],
   [[[45, 33]], [8, 6]],
   [[[46, 14]], [8, 3]],
   [[[56, 9]], [10, 2]],
   [[[23, 1], [19, 9]], [0, 4, 2]],
   [[[19, 9], [11, 5]], [4, 2, 1]],
   [[[27, 14], [16, 5]], [5, 3, 1]],
   [[[27, 14], [28, 19]], [3, 5, 4]],
   [[[27, 14], [28, 9]], [3, 5, 2]],
   [[[28, 19], [23, 1]], [5, 4, 0]],
   [[[28, 19], [19, 9]], [5, 4, 2]],
   [[[28, 9], [11, 5]], [5, 2, 1]],
   [[[38, 33], [35, 5]], [7, 6, 1]],
   [[[38, 33], [39, 19]], [6, 7, 4]],
   [[[38, 33], [39, 9]], [6, 7, 2]],
   [[[39, 19], [23, 1]], [7, 4, 0]],
   [[[39, 19], [19, 9]], [7, 4, 2]],
   [[[39, 9], [11, 5]], [7, 2, 1]],
   [[[45, 33], [35, 5]], [8, 6, 1]],
   [[[45, 33], [46, 14]], [6, 8, 3]],
   [[[46, 14], [16, 5]], [8, 3, 1]],
   [[[56, 9], [11, 5]], [10, 2, 1]],
   [[[23, 1], [19, 9], [11, 5]], [0, 4, 2, 1]],
   [[[16, 5], [27, 14], [28, 19]], [1, 3, 5, 4]],
   [[[16, 5], [27, 14], [28, 9]], [1, 3, 5, 2]],
   [[[27, 14], [28, 19], [23, 1]], [3, 5, 4, 0]],
   [[[27, 14], [28, 19], [19, 9]], [3, 5, 4, 2]],
   [[[23, 1], [28, 19], [28, 9]], [0, 4, 5, 2]],
   [[[28, 19], [19, 9], [11, 5]], [5, 4, 2, 1]],
   [[[35, 5], [38, 33], [39, 19]], [1, 6, 7, 4]],
   [[[35, 5], [38, 33], [39, 9]], [1, 6, 7, 2]],
   [[[38, 33], [39, 19], [23, 1]], [6, 7, 4, 0]],
   [[[38, 33], [39, 19], [19, 9]], [6, 7, 4, 2]],
   [[[23, 1], [39, 19], [39, 9]], [0, 4, 7, 2]],
   [[[39, 19], [19, 9], [11, 5]], [7, 4, 2, 1]],
   [[[35, 5], [45, 33], [46, 14]], [1, 6, 8, 3]],
   [[[16, 5], [27, 14], [28, 19], [23, 1]], [1, 3, 5, 4, 0]],
   [[[16, 5], [27, 14], [28, 19], [19, 9]], [1, 3, 5, 4, 2]],
   [[[23, 1], [28, 19], [28, 9], [11, 5]], [0, 4, 5, 2, 1]],
   [[[35, 5], [38, 33], [39, 19], [23, 1]], [1, 6, 7, 4, 0]],
   [[[35, 5], [38, 33], [39, 19], [19, 9]], [1, 6, 7, 4, 2]],
   [[[23, 1], [39, 19], [39, 9], [11, 5]], [0, 4, 7, 2, 1]],
   [[[27, 14], [28, 19], [23, 1], [19, 9]], [3, 5, 4, 0, 2]],
   [[[38, 33], [39, 19], [23, 1], [19, 9]], [6, 7, 4, 0, 2]],
   [[[2, 24]], [4, 0]],
   [[[20, 29]], [5, 4]],
   [[[21, 30]], [5, 4]],
   [[[22, 31]], [5, 4]],
   [[[20, 40]], [7, 4]],
   [[[21, 41]], [7, 4]],
   [[[22, 42]], [7, 4]],
   [[[9, 55]], [10, 2]],
   [[[2, 24], [19, 9]], [0, 4, 2]],
   [[[27, 14], [20, 29]], [3, 5, 4]],
   [[[27, 14], [21, 30]], [3, 5, 4]],
   [[[27, 14], [22, 31]], [3, 5, 4]],
   [[[20, 29], [23, 1]], [5, 4, 0]],
   [[[21, 30], [23, 1]], [5, 4, 0]],
   [[[22, 31], [23, 1]], [5, 4, 0]],
   [[[28, 19], [2, 24]], [5, 4, 0]],
   [[[20, 29], [19, 9]], [5, 4, 2]],
   [[[21, 30], [19, 9]], [5, 4, 2]],
   [[[22, 31], [19, 9]], [5, 4, 2]],
   [[[38, 33], [20, 40]], [6, 7, 4]],
   [[[38, 33], [21, 41]], [6, 7, 4]],
   [[[38, 33], [22, 42]], [6, 7, 4]],
   [[[20, 40], [23, 1]], [7, 4, 0]],
   [[[21, 41], [23, 1]], [7, 4, 0]],
   [[[22, 42], [23, 1]], [7, 4, 0]],
   [[[39, 19], [2, 24]], [7, 4, 0]],
   [[[20, 40], [19, 9]], [7, 4, 2]],
   [[[21, 41], [19, 9]], [7, 4, 2]],
   [[[22, 42], [19, 9]], [7, 4, 2]],
   [[[9, 55], [11, 5]], [10, 2, 1]],
   [[[2, 24], [19, 9], [11, 5]], [0, 4, 2, 1]],
   [[[16, 5], [27, 14], [20, 29]], [1, 3, 5, 4]],
   [[[16, 5], [27, 14], [21, 30]], [1, 3, 5, 4]],
   [[[16, 5], [27, 14], [22, 31]], [1, 3, 5, 4]],
   [[[27, 14], [20, 29], [23, 1]], [3, 5, 4, 0]],
   [[[27, 14], [21, 30], [23, 1]], [3, 5, 4, 0]],
   [[[27, 14], [22, 31], [23, 1]], [3, 5, 4, 0]],
   [[[27, 14], [28, 19], [2, 24]], [3, 5, 4, 0]],
   [[[27, 14], [20, 29], [19, 9]], [3, 5, 4, 2]],
   [[[27, 14], [21, 30], [19, 9]], [3, 5, 4, 2]],
   [[[27, 14], [22, 31], [19, 9]], [3, 5, 4, 2]],
   [[[2, 24], [28, 19], [28, 9]], [0, 4, 5, 2]],
   [[[23, 1], [20, 29], [28, 9]], [0, 4, 5, 2]],
   [[[23, 1], [21, 30], [28, 9]], [0, 4, 5, 2]],
   [[[23, 1], [22, 31], [28, 9]], [0, 4, 5, 2]],
   [[[20, 29], [19, 9], [11, 5]], [5, 4, 2, 1]],
   [[[21, 30], [19, 9], [11, 5]], [5, 4, 2, 1]],
   [[[22, 31], [19, 9], [11, 5]], [5, 4, 2, 1]],
   [[[35, 5], [38, 33], [20, 40]], [1, 6, 7, 4]],
   [[[35, 5], [38, 33], [21, 41]], [1, 6, 7, 4]],
   [[[35, 5], [38, 33], [22, 42]], [1, 6, 7, 4]],
   [[[38, 33], [20, 40], [23, 1]], [6, 7, 4, 0]],
   [[[38, 33], [21, 41], [23, 1]], [6, 7, 4, 0]],
   [[[38, 33], [22, 42], [23, 1]], [6, 7, 4, 0]],
   [[[38, 33], [39, 19], [2, 24]], [6, 7, 4, 0]],
   [[[38, 33], [20, 40], [19, 9]], [6, 7, 4, 2]],
   [[[38, 33], [21, 41], [19, 9]], [6, 7, 4, 2]],
   [[[38, 33], [22, 42], [19, 9]], [6, 7, 4, 2]],
   [[[2, 24], [39, 19], [39, 9]], [0, 4, 7, 2]],
   [[[23, 1], [20, 40], [39, 9]], [0, 4, 7, 2]],
   [[[23, 1], [21, 41], [39, 9]], [0, 4, 7, 2]],
   [[[23, 1], [22, 42], [39, 9]], [0, 4, 7, 2]],
   [[[20, 40], [19, 9], [11, 5]], [7, 4, 2, 1]],
   [[[21, 41], [19, 9], [11, 5]], [7, 4, 2, 1]],
   [[[22, 42], [19, 9], [11, 5]], [7, 4, 2, 1]],
   [[[16, 5], [27, 14], [20, 29], [23, 1]], [1, 3, 5, 4, 0]],
   [[[16, 5], [27, 14], [21, 30], [23, 1]], [1, 3, 5, 4, 0]],
   [[[16, 5], [27, 14], [22, 31], [23, 1]], [1, 3, 5, 4, 0]],
   [[[16, 5], [27, 14], [28, 19], [2, 24]], [1, 3, 5, 4, 0]],
   [[[16, 5], [27, 14], [20, 29], [19, 9]], [1, 3, 5, 4, 2]],
   [[[16, 5], [27, 14], [21, 30], [19, 9]], [1, 3, 5, 4, 2]],
   [[[16, 5], [27, 14], [22, 31], [19, 9]], [1, 3, 5, 4, 2]],
   [[[2, 24], [28, 19], [28, 9], [11, 5]], [0, 4, 5, 2, 1]],
   [[[23, 1], [20, 29], [28, 9], [11, 5]], [0, 4, 5, 2, 1]],
   [[[23, 1], [21, 30], [28, 9], [11, 5]], [0, 4, 5, 2, 1]],
   [[[23, 1], [22, 31], [28, 9], [11, 5]], [0, 4, 5, 2, 1]],
   [[[35, 5], [38, 33], [20, 40], [23, 1]], [1, 6, 7, 4, 0]],
   [[[35, 5], [38, 33], [21, 41], [23, 1]], [1, 6, 7, 4, 0]],
   [[[35, 5], [38, 33], [22, 42], [23, 1]], [1, 6, 7, 4, 0]],
   [[[35, 5], [38, 33], [39, 19], [2, 24]], [1, 6, 7, 4, 0]],
   [[[35, 5], [38, 33], [20, 40], [19, 9]], [1, 6, 7, 4, 2]],
   [[[35, 5], [38, 33], [21, 41], [19, 9]], [1, 6, 7, 4, 2]],
   [[[35, 5], [38, 33], [22, 42], [19, 9]], [1, 6, 7, 4, 2]],
   [[[2, 24], [39, 19], [39, 9], [11, 5]], [0, 4, 7, 2, 1]],
   [[[23, 1], [20, 40], [39, 9], [11, 5]], [0, 4, 7, 2, 1]],
   [[[23, 1], [21, 41], [39, 9], [11, 5]], [0, 4, 7, 2, 1]],
   [[[23, 1], [22, 42], [39, 9], [11, 5]], [0, 4, 7, 2, 1]],
   [[[27, 14], [20, 29], [23, 1], [19, 9]], [3, 5, 4, 0, 2]],
   [[[27, 14], [21, 30], [23, 1], [19, 9]], [3, 5, 4, 0, 2]],
   [[[27, 14], [22, 31], [23, 1], [19, 9]], [3, 5, 4, 0, 2]],
   [[[27, 14], [28, 19], [2, 24], [19, 9]], [3, 5, 4, 0, 2]],
   [[[38, 33], [20, 40], [23, 1], [19, 9]], [6, 7, 4, 0, 2]],
   [[[38, 33], [21, 41], [23, 1], [19, 9]], [6, 7, 4, 0, 2]],
   [[[38, 33], [22, 42], [23, 1], [19, 9]], [6, 7, 4, 0, 2]],
   [[[38, 33], [39, 19], [2, 24], [19, 9]], [6, 7, 4, 0, 2]],
   [[[28, 19], [28, 9]], [4, 5, 2]],
   [[[29, 20], [28, 9]], [4, 5, 2]],
   [[[30, 21], [28, 9]], [4, 5, 2]],
   [[[31, 22], [28, 9]], [4, 5, 2]],
   [[[39, 19], [39, 9]], [4, 7, 2]],
   [[[40, 20], [39, 9]], [4, 7, 2]],
   [[[41, 21], [39, 9]], [4, 7, 2]],
   [[[42, 22], [39, 9]], [4, 7, 2]],
   [[[28, 9], [19, 9]], [5, 2, 4]],
   [[[29, 20], [19, 9]], [5, 4, 2]],
   [[[30, 21], [19, 9]], [5, 4, 2]],
   [[[31, 22], [19, 9]], [5, 4, 2]],
   [[[39, 9], [19, 9]], [7, 2, 4]],
   [[[40, 20], [19, 9]], [7, 4, 2]],
   [[[41, 21], [19, 9]], [7, 4, 2]],
   [[[42, 22], [19, 9]], [7, 4, 2]],
   [[[23, 1], [29, 20], [28, 9]], [0, 4, 5, 2]],
   [[[23, 1], [30, 21], [28, 9]], [0, 4, 5, 2]],

In [131]:
def get_cursor_from_path(sqlite_path):
    try:
        if not os.path.exists(sqlite_path):
            print("Openning a new connection %s" % sqlite_path)
        connection = sqlite3.connect(sqlite_path, check_same_thread = False)
    except Exception as e:
        print(sqlite_path)
        raise e
    connection.text_factory = lambda b: b.decode(errors="ignore")
    cursor = connection.cursor()
    return cursor

In [132]:
def execute_sql(cursor, sql):
    cursor.execute(sql)

    return cursor.fetchall()

## For running SQL queries

In [143]:
final_sqls  = []

for batch_id in range(model_outputs.shape[0]):
    for seq_id in range(model_outputs.shape[1]): # model_outputs[1] represents num_of return_sequences
        pred_executable_sql = "sql placeholder"
        cursor = get_cursor_from_path('inference_db/test.db')
        pred_sequence = tokenizer.decode(model_outputs[batch_id,seq_id:], skip_special_tokens=True)
        
        pred_sql = pred_sequence.split("|")[-1].strip()
        pred_sql = pred_sql.replace("='", "= '").replace("!=", " !=").replace(",", " ,")
        try:
            # Note: execute_sql will be success for empty string
            assert len(pred_sql) > 0, "pred sql is empty!"

            results = execute_sql(cursor, pred_sql)
            # if the current sql has no execution error, we record and return it
            pred_executable_sql = pred_sql
            cursor.close()
            cursor.connection.close()
            break
        except Exception as e:
            print(pred_sql)
            print(e)
            cursor.close()
            cursor.connection.close()
            

        final_sqls.append(pred_executable_sql)

select Employees.Name from Tasks where Tasks.ProjectID = 'Website Development'
no such column: Employees.Name
select Employees.Name from Tasks where Tasks.ProjectID = 'Website Development'
no such column: Employees.Name
select Employees.Name from Tasks where Tasks.ProjectID = 'Website Development'
no such column: Employees.Name
select Employees.Name from Tasks where Tasks.ProjectID = 'Website Development'
no such column: Employees.Name
select Employees.Name from Tasks where Tasks.ProjectID = 'Website Development'
no such column: Employees.Name
select Employees.Name from Tasks where Tasks.ProjectID = 'Website Development'
no such column: Employees.Name
select Employees.Name from Tasks where Tasks.ProjectID = 'Website Development'
no such column: Employees.Name
select Employees.Name from Tasks where Tasks.ProjectID = 'Website Development'
no such column: Employees.Name
select Employees.Name from Tasks where Tasks.ProjectID = 'Website Development'
no such column: Employees.Name
select Employees.Name from Tasks where Tasks.ProjectID = 'Website Development'
no such column: Employees.Name
select Employees.Name from Tasks where Tasks.ProjectID = 'Website Development'
no such column: Employees.Name
select Employees.Name from Tasks where Tasks.ProjectID = 'Website Development'
no such column: Employees.Name
Employees.Name from Tasks where Tasks.ProjectID = 'Website Development'
near "Employees": syntax error
s.Name from Tasks where Tasks.ProjectID = 'Website Development'
near "s": syntax error
.Name from Tasks where Tasks.ProjectID = 'Website Development'
near ".": syntax error
Name from Tasks where Tasks.ProjectID = 'Website Development'
near "Name": syntax error
from Tasks where Tasks.ProjectID = 'Website Development'
near "from": syntax error
Tasks where Tasks.ProjectID = 'Website Development'
near "Tasks": syntax error
s where Tasks.ProjectID = 'Website Development'
near "s": syntax error
where Tasks.ProjectID = 'Website Development'
near "where": syntax error
Tasks.ProjectID = 'Website Development'
near "Tasks": syntax error
s.ProjectID = 'Website Development'
near "s": syntax error
.ProjectID = 'Website Development'
near ".": syntax error
ProjectID = 'Website Development'
near "ProjectID": syntax error
jectID = 'Website Development'
near "jectID": syntax error
ID = 'Website Development'
near "ID": syntax error
= 'Website Development'
near "=": syntax error
'Website Development'
near "'Website Development'": syntax error
'Website Development'
near "'Website Development'": syntax error
Website Development'
near "Website": syntax error
site Development'
near "site": syntax error
Development'
near "Development": syntax error
'
unrecognized token: "'"

pred sql is empty!

pred sql is empty!

pred sql is empty!

pred sql is empty!

pred sql is empty!

pred sql is empty!

pred sql is empty!

pred sql is empty!

pred sql is empty!

pred sql is empty!

pred sql is empty!

pred sql is empty!

pred sql is empty!

pred sql is empty!

pred sql is empty!

pred sql is empty!

pred sql is empty!

pred sql is empty!

pred sql is empty!
select Employees.Name from Tasks where @.@ join Tasks.* and Projects.ProjectID = 'Website Development'
unrecognized token: "@"
select Employees.Name from Tasks where @.@ join Tasks.* and Projects.ProjectID = 'Website Development'
unrecognized token: "@"
select Employees.Name from Tasks where @.@ join Tasks.* and Projects.ProjectID = 'Website Development'
unrecognized token: "@"
select Employees.Name from Tasks where @.@ join Tasks.* and Projects.ProjectID = 'Website Development'
unrecognized token: "@"
select Employees.Name from Tasks where @.@ join Tasks.* and Projects.ProjectID = 'Website Development'
unrecognized token: "@"
select Employees.Name from Tasks where @.@ join Tasks.* and Projects.ProjectID = 'Website Development'
unrecognized token: "@"
select Employees.Name from Tasks where @.@ join Tasks.* and Projects.ProjectID = 'Website Development'
unrecognized token: "@"
select Employees.Name from Tasks where @.@ join Tasks.* and Projects.ProjectID = 'Website Development'
unrecognized token: "@"
select Employees.Name from Tasks where @.@ join Tasks.* and Projects.ProjectID = 'Website Development'
unrecognized token: "@"
select Employees.Name from Tasks where @.@ join Tasks.* and Projects.ProjectID = 'Website Development'
unrecognized token: "@"
select Employees.Name from Tasks where @.@ join Tasks.* and Projects.ProjectID = 'Website Development'
unrecognized token: "@"
select Employees.Name from Tasks where @.@ join Tasks.* and Projects.ProjectID = 'Website Development'
unrecognized token: "@"
select Employees.Name from Tasks where @.@ join Tasks.* and Projects.ProjectID = 'Website Development'
unrecognized token: "@"
select Employees.Name from Tasks where @.@ join Tasks.* and Projects.ProjectID = 'Website Development'
unrecognized token: "@"
select Employees.Name from Tasks where @.@ join Tasks.* and Projects.ProjectID = 'Website Development'
unrecognized token: "@"
select Employees.Name from Tasks where @.@ join Tasks.* and Projects.ProjectID = 'Website Development'
unrecognized token: "@"
select Employees.Name from Tasks where @.@ join Tasks.* and Projects.ProjectID = 'Website Development'
unrecognized token: "@"
select Employees.Name from Tasks where @.@ join Tasks.* and Projects.ProjectID = 'Website Development'
unrecognized token: "@"
select Employees.Name from Tasks where @.@ join Tasks.* and Projects.ProjectID = 'Website Development'
unrecognized token: "@"
Employees.Name from Tasks where @.@ join Tasks.* and Projects.ProjectID = 'Website Development'
near "Employees": syntax error
s.Name from Tasks where @.@ join Tasks.* and Projects.ProjectID = 'Website Development'
near "s": syntax error
.Name from Tasks where @.@ join Tasks.* and Projects.ProjectID = 'Website Development'
near ".": syntax error
Name from Tasks where @.@ join Tasks.* and Projects.ProjectID = 'Website Development'
near "Name": syntax error
from Tasks where @.@ join Tasks.* and Projects.ProjectID = 'Website Development'
near "from": syntax error
Tasks where @.@ join Tasks.* and Projects.ProjectID = 'Website Development'
near "Tasks": syntax error
s where @.@ join Tasks.* and Projects.ProjectID = 'Website Development'
near "s": syntax error
where @.@ join Tasks.* and Projects.ProjectID = 'Website Development'
near "where": syntax error
@.@ join Tasks.* and Projects.ProjectID = 'Website Development'
unrecognized token: "@"
.@ join Tasks.* and Projects.ProjectID = 'Website Development'
near ".": syntax error
@ join Tasks.* and Projects.ProjectID = 'Website Development'
unrecognized token: "@"
join Tasks.* and Projects.ProjectID = 'Website Development'
near "join": syntax error
Tasks.* and Projects.ProjectID = 'Website Development'
near "Tasks": syntax error
s.* and Projects.ProjectID = 'Website Development'
near "s": syntax error
.* and Projects.ProjectID = 'Website Development'
near ".": syntax error
* and Projects.ProjectID = 'Website Development'
near "*": syntax error
and Projects.ProjectID = 'Website Development'
near "and": syntax error
Projects.ProjectID = 'Website Development'
near "Projects": syntax error
s.ProjectID = 'Website Development'
near "s": syntax error
.ProjectID = 'Website Development'
near ".": syntax error
ProjectID = 'Website Development'
near "ProjectID": syntax error
jectID = 'Website Development'
near "jectID": syntax error
ID = 'Website Development'
near "ID": syntax error
= 'Website Development'
near "=": syntax error
'Website Development'
near "'Website Development'": syntax error
'Website Development'
near "'Website Development'": syntax error
Website Development'
near "Website": syntax error
site Development'
near "site": syntax error
Development'
near "Development": syntax error
'
unrecognized token: "'"

pred sql is empty!

pred sql is empty!

pred sql is empty!
select Employees.Name from Tasks where @.@ join Projects.* and Tasks.ProjectID = 'Website Development'
unrecognized token: "@"
select Employees.Name from Tasks where @.@ join Projects.* and Tasks.ProjectID = 'Website Development'
unrecognized token: "@"
select Employees.Name from Tasks where @.@ join Projects.* and Tasks.ProjectID = 'Website Development'
unrecognized token: "@"
select Employees.Name from Tasks where @.@ join Projects.* and Tasks.ProjectID = 'Website Development'
unrecognized token: "@"
select Employees.Name from Tasks where @.@ join Projects.* and Tasks.ProjectID = 'Website Development'
unrecognized token: "@"
select Employees.Name from Tasks where @.@ join Projects.* and Tasks.ProjectID = 'Website Development'
unrecognized token: "@"
select Employees.Name from Tasks where @.@ join Projects.* and Tasks.ProjectID = 'Website Development'
unrecognized token: "@"
select Employees.Name from Tasks where @.@ join Projects.* and Tasks.ProjectID = 'Website Development'
unrecognized token: "@"
select Employees.Name from Tasks where @.@ join Projects.* and Tasks.ProjectID = 'Website Development'
unrecognized token: "@"
select Employees.Name from Tasks where @.@ join Projects.* and Tasks.ProjectID = 'Website Development'
unrecognized token: "@"
select Employees.Name from Tasks where @.@ join Projects.* and Tasks.ProjectID = 'Website Development'
unrecognized token: "@"
select Employees.Name from Tasks where @.@ join Projects.* and Tasks.ProjectID = 'Website Development'
unrecognized token: "@"
select Employees.Name from Tasks where @.@ join Projects.* and Tasks.ProjectID = 'Website Development'
unrecognized token: "@"
select Employees.Name from Tasks where @.@ join Projects.* and Tasks.ProjectID = 'Website Development'
unrecognized token: "@"
select Employees.Name from Tasks where @.@ join Projects.* and Tasks.ProjectID = 'Website Development'
unrecognized token: "@"
select Employees.Name from Tasks where @.@ join Projects.* and Tasks.ProjectID = 'Website Development'
unrecognized token: "@"
select Employees.Name from Tasks where @.@ join Projects.* and Tasks.ProjectID = 'Website Development'
unrecognized token: "@"
select Employees.Name from Tasks where @.@ join Projects.* and Tasks.ProjectID = 'Website Development'
unrecognized token: "@"
select Employees.Name from Tasks where @.@ join Projects.* and Tasks.ProjectID = 'Website Development'
unrecognized token: "@"
Employees.Name from Tasks where @.@ join Projects.* and Tasks.ProjectID = 'Website Development'
near "Employees": syntax error
s.Name from Tasks where @.@ join Projects.* and Tasks.ProjectID = 'Website Development'
near "s": syntax error
.Name from Tasks where @.@ join Projects.* and Tasks.ProjectID = 'Website Development'
near ".": syntax error
Name from Tasks where @.@ join Projects.* and Tasks.ProjectID = 'Website Development'
near "Name": syntax error
from Tasks where @.@ join Projects.* and Tasks.ProjectID = 'Website Development'
near "from": syntax error
Tasks where @.@ join Projects.* and Tasks.ProjectID = 'Website Development'
near "Tasks": syntax error
s where @.@ join Projects.* and Tasks.ProjectID = 'Website Development'
near "s": syntax error
where @.@ join Projects.* and Tasks.ProjectID = 'Website Development'
near "where": syntax error
@.@ join Projects.* and Tasks.ProjectID = 'Website Development'
unrecognized token: "@"
.@ join Projects.* and Tasks.ProjectID = 'Website Development'
near ".": syntax error
@ join Projects.* and Tasks.ProjectID = 'Website Development'
unrecognized token: "@"
join Projects.* and Tasks.ProjectID = 'Website Development'
near "join": syntax error
Projects.* and Tasks.ProjectID = 'Website Development'
near "Projects": syntax error
s.* and Tasks.ProjectID = 'Website Development'
near "s": syntax error
.* and Tasks.ProjectID = 'Website Development'
near ".": syntax error
* and Tasks.ProjectID = 'Website Development'
near "*": syntax error
and Tasks.ProjectID = 'Website Development'
near "and": syntax error
Tasks.ProjectID = 'Website Development'
near "Tasks": syntax error
s.ProjectID = 'Website Development'
near "s": syntax error
.ProjectID = 'Website Development'
near ".": syntax error
ProjectID = 'Website Development'
near "ProjectID": syntax error
jectID = 'Website Development'
near "jectID": syntax error
ID = 'Website Development'
near "ID": syntax error
= 'Website Development'
near "=": syntax error
'Website Development'
near "'Website Development'": syntax error
'Website Development'
near "'Website Development'": syntax error
Website Development'
near "Website": syntax error
site Development'
near "site": syntax error
Development'
near "Development": syntax error
'
unrecognized token: "'"

pred sql is empty!

pred sql is empty!

pred sql is empty!
select Employees.Name from Tasks where @.@ join Projects.* and Tasks.TaskID = 'Website Development'
unrecognized token: "@"
select Employees.Name from Tasks where @.@ join Projects.* and Tasks.TaskID = 'Website Development'
unrecognized token: "@"
select Employees.Name from Tasks where @.@ join Projects.* and Tasks.TaskID = 'Website Development'
unrecognized token: "@"
select Employees.Name from Tasks where @.@ join Projects.* and Tasks.TaskID = 'Website Development'
unrecognized token: "@"
select Employees.Name from Tasks where @.@ join Projects.* and Tasks.TaskID = 'Website Development'
unrecognized token: "@"
select Employees.Name from Tasks where @.@ join Projects.* and Tasks.TaskID = 'Website Development'
unrecognized token: "@"
select Employees.Name from Tasks where @.@ join Projects.* and Tasks.TaskID = 'Website Development'
unrecognized token: "@"
select Employees.Name from Tasks where @.@ join Projects.* and Tasks.TaskID = 'Website Development'
unrecognized token: "@"
select Employees.Name from Tasks where @.@ join Projects.* and Tasks.TaskID = 'Website Development'
unrecognized token: "@"
select Employees.Name from Tasks where @.@ join Projects.* and Tasks.TaskID = 'Website Development'
unrecognized token: "@"
select Employees.Name from Tasks where @.@ join Projects.* and Tasks.TaskID = 'Website Development'
unrecognized token: "@"
select Employees.Name from Tasks where @.@ join Projects.* and Tasks.TaskID = 'Website Development'
unrecognized token: "@"
select Employees.Name from Tasks where @.@ join Projects.* and Tasks.TaskID = 'Website Development'
unrecognized token: "@"
select Employees.Name from Tasks where @.@ join Projects.* and Tasks.TaskID = 'Website Development'
unrecognized token: "@"
select Employees.Name from Tasks where @.@ join Projects.* and Tasks.TaskID = 'Website Development'
unrecognized token: "@"
select Employees.Name from Tasks where @.@ join Projects.* and Tasks.TaskID = 'Website Development'
unrecognized token: "@"
select Employees.Name from Tasks where @.@ join Projects.* and Tasks.TaskID = 'Website Development'
unrecognized token: "@"
select Employees.Name from Tasks where @.@ join Projects.* and Tasks.TaskID = 'Website Development'
unrecognized token: "@"
select Employees.Name from Tasks where @.@ join Projects.* and Tasks.TaskID = 'Website Development'
unrecognized token: "@"
Employees.Name from Tasks where @.@ join Projects.* and Tasks.TaskID = 'Website Development'
near "Employees": syntax error
s.Name from Tasks where @.@ join Projects.* and Tasks.TaskID = 'Website Development'
near "s": syntax error
.Name from Tasks where @.@ join Projects.* and Tasks.TaskID = 'Website Development'
near ".": syntax error
Name from Tasks where @.@ join Projects.* and Tasks.TaskID = 'Website Development'
near "Name": syntax error
from Tasks where @.@ join Projects.* and Tasks.TaskID = 'Website Development'
near "from": syntax error
Tasks where @.@ join Projects.* and Tasks.TaskID = 'Website Development'
near "Tasks": syntax error
s where @.@ join Projects.* and Tasks.TaskID = 'Website Development'
near "s": syntax error
where @.@ join Projects.* and Tasks.TaskID = 'Website Development'
near "where": syntax error
@.@ join Projects.* and Tasks.TaskID = 'Website Development'
unrecognized token: "@"
.@ join Projects.* and Tasks.TaskID = 'Website Development'
near ".": syntax error
@ join Projects.* and Tasks.TaskID = 'Website Development'
unrecognized token: "@"
join Projects.* and Tasks.TaskID = 'Website Development'
near "join": syntax error
Projects.* and Tasks.TaskID = 'Website Development'
near "Projects": syntax error
s.* and Tasks.TaskID = 'Website Development'
near "s": syntax error
.* and Tasks.TaskID = 'Website Development'
near ".": syntax error
* and Tasks.TaskID = 'Website Development'
near "*": syntax error
and Tasks.TaskID = 'Website Development'
near "and": syntax error
Tasks.TaskID = 'Website Development'
near "Tasks": syntax error
s.TaskID = 'Website Development'
near "s": syntax error
.TaskID = 'Website Development'
near ".": syntax error
TaskID = 'Website Development'
near "TaskID": syntax error
askID = 'Website Development'
near "askID": syntax error
skID = 'Website Development'
near "skID": syntax error
kID = 'Website Development'
near "kID": syntax error
ID = 'Website Development'
near "ID": syntax error
= 'Website Development'
near "=": syntax error
'Website Development'
near "'Website Development'": syntax error
'Website Development'
near "'Website Development'": syntax error
Website Development'
near "Website": syntax error
site Development'
near "site": syntax error
Development'
near "Development": syntax error
'
unrecognized token: "'"

pred sql is empty!
select Employees.Name from Tasks where Tasks.TaskID = 'Website Development'
no such column: Employees.Name
select Employees.Name from Tasks where Tasks.TaskID = 'Website Development'
no such column: Employees.Name
select Employees.Name from Tasks where Tasks.TaskID = 'Website Development'
no such column: Employees.Name
select Employees.Name from Tasks where Tasks.TaskID = 'Website Development'
no such column: Employees.Name
select Employees.Name from Tasks where Tasks.TaskID = 'Website Development'
no such column: Employees.Name
select Employees.Name from Tasks where Tasks.TaskID = 'Website Development'
no such column: Employees.Name
select Employees.Name from Tasks where Tasks.TaskID = 'Website Development'
no such column: Employees.Name
select Employees.Name from Tasks where Tasks.TaskID = 'Website Development'
no such column: Employees.Name
select Employees.Name from Tasks where Tasks.TaskID = 'Website Development'
no such column: Employees.Name
select Employees.Name from Tasks where Tasks.TaskID = 'Website Development'
no such column: Employees.Name
select Employees.Name from Tasks where Tasks.TaskID = 'Website Development'
no such column: Employees.Name
select Employees.Name from Tasks where Tasks.TaskID = 'Website Development'
no such column: Employees.Name
Employees.Name from Tasks where Tasks.TaskID = 'Website Development'
near "Employees": syntax error
s.Name from Tasks where Tasks.TaskID = 'Website Development'
near "s": syntax error
.Name from Tasks where Tasks.TaskID = 'Website Development'
near ".": syntax error
Name from Tasks where Tasks.TaskID = 'Website Development'
near "Name": syntax error
from Tasks where Tasks.TaskID = 'Website Development'
near "from": syntax error
Tasks where Tasks.TaskID = 'Website Development'
near "Tasks": syntax error
s where Tasks.TaskID = 'Website Development'
near "s": syntax error
where Tasks.TaskID = 'Website Development'
near "where": syntax error
Tasks.TaskID = 'Website Development'
near "Tasks": syntax error
s.TaskID = 'Website Development'
near "s": syntax error
.TaskID = 'Website Development'
near ".": syntax error
TaskID = 'Website Development'
near "TaskID": syntax error
askID = 'Website Development'
near "askID": syntax error
skID = 'Website Development'
near "skID": syntax error
kID = 'Website Development'
near "kID": syntax error
ID = 'Website Development'
near "ID": syntax error
= 'Website Development'
near "=": syntax error
'Website Development'
near "'Website Development'": syntax error
'Website Development'
near "'Website Development'": syntax error
Website Development'
near "Website": syntax error
site Development'
near "site": syntax error
Development'
near "Development": syntax error
'
unrecognized token: "'"


## For natsqls

In [ ]:
final_sqls  = []

for batch_id in range(model_outputs.shape[0]):
    for seq_id in range(model_outputs.shape[1]): # model_outputs[1] represents num_of return_sequences
        pred_executable_sql = "sql placeholder"
        cursor = get_cursor_from_path('inference_db/test.db')
        pred_sequence = tokenizer.decode(model_outputs[batch_id,seq_id:], skip_special_tokens=True)
        
        pred_natsql = pred_sequence.split("|")[-1].strip()
        pred_natsql = pred_natsql.replace("='", "= '").replace("!=", " !=").replace(",", " ,")
        old_pred_natsql = pred_natsql
        
        pred_natsql = fix_fata_errors_in_natsql(pred_natsql, batch_tc_original[batch_id])
        try:
            # Note: execute_sql will be success for empty string
            assert len(pred_sql) > 0, "pred sql is empty!"

            results = execute_sql(cursor, pred_sql)
            # if the current sql has no execution error, we record and return it
            pred_executable_sql = pred_sql
            cursor.close()
            cursor.connection.close()
            break
        except Exception as e:
            print(pred_sql)
            print(e)
            cursor.close()
            cursor.connection.close()
            

        final_sqls.append(pred_executable_sql)